<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PMES_Automatic_Net6.PMESConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PMES_Automatic_Net6.PMESConfig>
            <setting name="ConnXdSqlServer" serializeAs="String">
                <value>Data Source=172.16.3.253;User Id=sa;Password=Xianden.1984;Initial Catalog=PMES;Encrypt=True;TrustServerCertificate=True;Pooling=true;Min Pool Size=1</value>
            </setting>
            <setting name="PlcIp" serializeAs="String">
                <value>192.168.1.10</value>
            </setting>
            <setting name="PlcSlot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlcRack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlcXinJieIp" serializeAs="String">
                <value>192.168.1.150</value>
            </setting>
            <setting name="PlcXinJiePort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="ConnLocalSqlServer" serializeAs="String">
                <value>Data Source=.;User Id=sa;Password=Aa123.321;Initial Catalog=PMES;Encrypt=True;TrustServerCertificate=True;Pooling=true;Min Pool Size=1</value>
            </setting>
            <setting name="ConnLocalMysql" serializeAs="String">
                <value>Data Source=127.0.0.1;Port=3308;User ID=root;Password=123456; Initial Catalog=avant_sicd_automatic;Charset=utf8; SslMode=none;Min pool size=1;AllowPublicKeyRetrieval=true</value>
            </setting>
            <setting name="PrinterName1" serializeAs="String">
                <value>192.168.1.151</value>
            </setting>
            <setting name="PrinterName2" serializeAs="String">
                <value>192.168.1.152</value>
            </setting>
            <setting name="PrinterName3" serializeAs="String">
                <value>192.168.1.153</value>
            </setting>
            <setting name="PrinterName4" serializeAs="String">
                <value>192.168.1.154</value>
            </setting>
            <setting name="PrinterName5" serializeAs="String">
                <value>192.168.1.155</value>
            </setting>
            <setting name="PrinterName6" serializeAs="String">
                <value>192.168.1.156</value>
            </setting>
        </PMES_Automatic_Net6.PMESConfig>
    </userSettings>
</configuration>