<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PMES.Properties.PMES_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PMES.Properties.PMES" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PMES.Properties.PMES_Settings>
            <setting name="COM" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="ConnStr" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplatePath" serializeAs="String">
                <value>C:\\ProgramData\\PMES_Templates</value>
            </setting>
            <setting name="LastTemplate" serializeAs="String">
                <value />
            </setting>
        </PMES.Properties.PMES_Settings>
        <PMES.Properties.PMES>
            <setting name="COM" serializeAs="String">
                <value>"COM5"</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="ConnStr" serializeAs="String">
                <value>""</value>
            </setting>
        </PMES.Properties.PMES>
    </userSettings>
</configuration>