<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="PMES.Properties.PMES_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="PMES.Properties.PMES"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
 </configSections>
 <userSettings>
  <PMES.Properties.PMES_Settings>
   <setting name="COM" serializeAs="String">
    <value>COM5</value>
   </setting>
   <setting name="BaudRate" serializeAs="String">
    <value>19200</value>
   </setting>
   <setting name="ConnStrMySql" serializeAs="String">
    <value>Data Source=127.0.0.1;Port=3308;User ID=root;Password=123456; Initial Catalog=avant_sicd_automatic;Charset=utf8; SslMode=none;Min pool size=1;AllowPublicKeyRetrieval=true</value>
   </setting>
   <setting name="TemplatePath" serializeAs="String">
    <value>C:\\ProgramData\\PMES_Templates</value>
   </setting>
   <setting name="LastTemplate" serializeAs="String">
    <value />
   </setting>
   <setting name="SqlServerConnStr" serializeAs="String">
    <value>Data Source=.;User Id=sa;Password=Aa123.321;Initial Catalog=test;Encrypt=True;TrustServerCertificate=True;Pooling=true;Min Pool Size=1</value>
   </setting>
  </PMES.Properties.PMES_Settings>
 </userSettings>
</configuration>