<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PMES.Manual.Net6.PMES" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PMES.Manual.Net6.PMES>
            <setting name="Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConnLocalSqlServer" serializeAs="String">
                <value>Data Source=.;User Id=sa;Password=Aa123.321;Initial Catalog=PMES;Encrypt=True;TrustServerCertificate=True;Pooling=true;Min Pool Size=1</value>
            </setting>
            <setting name="ConnLocalMysql" serializeAs="String">
                <value>Data Source=127.0.0.1;Port=3306;User ID=root;Password=123456; Initial Catalog=pmes;Charset=utf8; SslMode=none;Min pool size=1;AllowPublicKeyRetrieval=true</value>
            </setting>
            <setting name="PrinterName1" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="PrinterDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultLabel" serializeAs="String">
                <value>"default"</value>
            </setting>
        </PMES.Manual.Net6.PMES>
    </userSettings>
</configuration>