<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PMES.Manual.Net6.PMES" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PMES.Manual.Net6.PMES>
            <setting name="Port" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
        </PMES.Manual.Net6.PMES>
    </userSettings>
</configuration>